<div id="black">

    <h1>ÎNREGISTRAREA CĂSĂTORIEI</h1>


    <p>
        Declaraţia de căsătorie se face personal, de către viitorii soţi, în scris, la primăria locului de domiciliu sau de reşedinţă al unuia dintre soţi sau prin completare formularului  @Html.ActionLink("Casatorie", "Index", "Programari") disponibil pe pagina.
        Actele pentru încheierea căsătoriei se depun cu 10 zile calendaristice înainte, termen în care se cuprind atât ziua când a fost făcută declaraţia de căsătorie, cât şi ziua în care se oficiază căsătoria.
        În declaraţia de căsătorie, viitorii soţi vor menţiona regimul matrimonial ales, ei putând opta între:
    </p>
    <ul>
        <li>1. Regimul comunităţii legale</li>
        <li>2. Regimul separaţiei de bunuri</li>
        <li>3. Regimul comunităţii convenţionale</li>
    </ul>


    <p>

        În situaţia în care viitorii soţi stabilesc un alt regim matrimonial decît cel al comunităţii legale aceştia vor prezenta convenţia matrimonială autentificată de către un notar public.

        Pentru detalii referitoare la regimurile matrimoniale, vezi art. 339-370 din Codul Civil

        <ul>
            Documente necesarepentru încheierea căsătoriei între cetăţeni români:

            <li>a)      actul de identitate, în original şi copie (trebuie să aibă termen de valabilitate atât la depunerea declaraţiei de căsătorie cât şi la încheierea căsătoriei);</li>

<li>b)      certificatul de naştere, în original şi  copie;</li>

            <li>c)      certificatul medical privind starea sănătăţii (certificatele medicale prenupţiale- sunt valabile 14 zile de la data emiterii şi trebuie să cuprindă menţiunea expresă că persoana se poate sau nu se poate căsători) ;
            </li>
            <li>d)  acte, în original şi în copii traduse şi legalizate ori certificate de ofiţerul de stare civilă, din care să rezulte desfacerea căsătoriei anterioare, dacă este cazul.</li>
            <ul>
                - certificatul de deces al fostului soţ;
                - certificatul de despărţenie sau de divorţ (eliberat în perioada anilor 1951 - 1960);
                - certificatul de naştere sau de căsătorie, cu menţiunea de desfacere a căsătoriei;
                - sentinţa de divorţ rămasă definitivă şi irevocabilă;
            </ul>
        </ul>
            Documente necesarepentru încheierea căsătoriei între un cetăţean român şi unul străin :
        <ol>
            <li>
                 Certificat medical prenupţial eliberat de un medic din România, care să poarte menţiunea «Se poate căsători»;
            </li><li>
      Paşaport (original şi copie xerox) -  în care să fie aplicată viza de intrare pe teritoriul României;– sau act de identitate, original şi copie xerox (în cazul cetăţenilor din statele membre ale U.E.);
</li>
        <li> Certificat de naştere, original şi copie xerox şi după caz: apostilat cu Apostila Convenţiei de la Haga sau supralegalizat în funcţie de statul emitent; Certificatul de naştere va fi tradus şi legalizat la un birou notarial de pe teritoriul României:
            </li>
        <li>
     Dovada eliberată / autentificată de misiunile diplomatice / oficiile consulareacreditate în România din care să rezulte că cetăţeanul străin îndeplineşte condiţiile de fond cerute de legea sa naţională şi nu există impedimente pentru încheierea căsătoriei în România.
</li>
        <li>
     Un document care să ateste domiciliul din străinătate al cetăţeanului sau declaraţie pe propria răspundere dată la un birou notarial din România privind domiciliul din ţara de origine;
</li> 
        </ol>
    <p>
        - După caz, dovada desfacerii căsătoriilor anterioare prin sentinţe de divorţ sau certificate de deces însoţite de certificatele de căsătorie, apostilate sau supralegalizate în funcţie de ţară ( vezi afişul cu privire la Apostila Convenţiei de la Haga), traduse şi legalizate de un birou notarial de pe teritoriul României;
    </p>
   <p>
       - În cazul cetăţenilor străini care nu cunosc limba română, la încheierea căsătoriei este obligatorie prezenţa unui interpret autorizat.
    </p>
   
</div>
