<div id="black">


    <h1>
        ÎNREGISTRAREA DECESULUI
    </h1>

    <p>
        Actul de deces se întocmeşte la Serviciul Public Comunitar Local de Evidenţă a Persoanelor sau la primăria unităţii administrativ, în a cărei rază teritorială s-a produs decesul, pe baza declaraţiei verbale făcute de către membrii familiei decedatului, iar în lipsa acestora de către colocatari, vecini, administratorul imobilului, medicul sau alt cadru din unitatea sanitară unde s-a produs decesul.
        Declararea decesului se face în termen de 3 zile de la data încetării din viaţă a persoanei.
        Când decesul se datorează unei sinucideri, unui accident sau altor cauze violente precum şi în cazul găsirii unui cadavru, declaraţia se face în termen de 48 de ore, socotit din momentul decesului sau al găsirii cadavrului. În astfel de cazuri, înregistrarea se face pe baza certificatului medical constatator al decesului şi a dovezii eliberate de poliţie sau de parchet.
        În cazul în care decesul nu a fost declarat în termen, întocmirea actului de deces se face cu aprobarea parchetului, iar declaraţia se face în scris, arătând motivele întârzierii.
    </p>
    <br />
    ACTE NECESARE ÎNREGISTRĂRII DECESULUI:
    <ul>
        a)    certificatul medical constatator al decesului, întocmit şi semnat de medicul sau cadrul mediu sanitar care a făcut constatarea în care trebuie consemnată cauza decesului ;
        b)    actul de identitate al celui decedat (în original şi copie);
        c)      livretul militar sau adeverinţa de recrutare, după caz, pentru persoanele supuse obligaţiilor militare;
        d)   certificatul de naştere, căsătorie al decedatului (în original şi copie);
        e)    actul de identitate al declarantului (în original şi copie).
    </ul>

    <br />
    <p>
        În cazul în care declarantul decesului nu poate prezenta certificatele de stare civilă şi/sau actul de identitate al persoanei decedate, acesta declară în scris, motivul neprezentării acestora, precum şi datele de stare civilă ale decedatului.
    </p>
</div>