<div id="black">
    <h1>DIVORŢ PE CALE ADMINISTRATIVĂ</h1>


    <p>
        Cererea de divorţ pe cale administrative se face în scris, se depune şi semnează personal de către ambii soţi, în faţa ofiţerului de stare civilă delegat:
    </p>
    <ul>
        - de la primăria care are în păstrare actul de căsătorie;
        - de la primăria în a carei rază teritorială se găseşte ultima locuinţă comună;
    </ul>
    Dosarul de divorţ va cuprinde:
    <ul>
        - certificatul de naştere, al soţului, respectiv soţiei – în original şi copie;
        - certificat de căsătorie – în original şi copie;
        - actul de identitate (buletinul / cartea / cartea provizorie de identitate) - în original şi copie;
        - taxa de divorţ administrativ - 750 lei se achită la sediul nostru. Taxa nu se restituie dacă dosarul se clasează.
    </ul>
    <p>
        Ofiţerul de stare civilă delegat înregistrează cererea de divorţ în ziua în care aceasta a fost primită şi ACORDĂ SOŢILOR UN TERMEN DE 30 DE ZILE calendaristice, calculate de la data depunerii cererii, pentru eventuala retragere a acesteia.
    </p>
    <p>
        La expirarea termenului de 30 DE ZILE calendaristice ofiţerul de stare civilă delegat verifică dacă soţii stăruie să divorţeze şi dacă, în acest sens, consimţământul lor este liber şi neviciat, în acest sens solicitând soţilor o DECLARAŢIE PRIVIND MENŢINEREA cererii de desfacere a căsătoriei.
    </p>
    <p>
        În situaţia în care ambii soţi sau numai unul dintre aceştia înţeleg/înţelege să renunţe la divorţ, completează o DECLARAŢIE DE RENUNŢARE privind cererea de desfacere a căsătoriei.
    </p>
    <p>
        Dacă soţii nu se prezintă împreună, după termenul de 30 de zile, în vederea completării declaraţiei de menţinere a cererii de divorţ, dosarul cuprinzând actele de divorţ se clasează, prin întocmirea unui referat aprobat de primar.
    </p>
    <p>
        Certificatul de divorţ
    </p>
    <p>
        Când sunt întrunite toate condiţiile, ofiţerul de stare civilă constată desfacerea căsătoriei prin acordul soţilor şi eliberează CERTIFICATUL DE DIVORŢ, pe care-l înmânează soţilor în termen de maxim 5 zile lucrătoare.
    </p>
    <p>
        Certificatul de divorţ se întocmeşte în 3 exemplare originale, din care 2 se înmânează părţilor pe bază de semnătură, iar un exemplar rămâne la dosarul de divorţ.
    </p>
    <p>
        Certificatul de căsătorie reţinut la dosarul de divorţ, se transmite spre anulare primăriei emitente la data eliberării certificatului de divorţ.
    </p>
</div>