<div id="black">
    <h1>ELIBERAREA/PRESCHIMBAREA  CERTIFICATELOR DE STARE CIVILĂ</h1>

    <p>
        Certificatele de stare civilă se eliberează la cerere persoanei îndreptăţite, pe baza înregistrărilor şi a menţiunilor înscrise în registrele de stare civilă, în următoarele cazuri:
    </p>
    <ul>
        - în caz de pierdere, furt sau distrugere ;

        - în baza hotărârii judecătoreşti sau a deciziilor administrative; re
    </ul>
    <p>
        Certificatele de stare civilă se eliberează numai cetăţenilor care posedă act de identitate (în original şi copie). Cetăţenii care nu au acte de identitate vor fi îndrumaţi să solicite mai întâi la Serviciul de Evidenţă a Persoanelor de care aparţin, eliberarea unei cărţi de identitate provizorii.
        Cetăţenilor români cu domiciliul în străinătate şi cetăţenilor străini ale căror acte de stare civilă sunt înregistrate în ţară li se vor elibera certificate pe baza paşaportului (original şi copie).
        Persoanele care nu se pot deplasa personal pentru a obţine certificatele de stare civilă, pot împuternici, printr-o procură specială o persoană în vederea  ridicării acestora.
    </p>

    Procura specială poate fi autentificată:
    <u>
        -          în ţară de un notar public;
        -          în străinătate, la misiunea diplomatică sau oficiul consular al României din statul de reşedinţă sau la un notar public străin, cu apostilă, conform Convenţiei de la Haga.
    </u>
    <p>
        Certificatul de naştere se eliberează numai titularului actului.
    </p><p>
        Pentru copiii minori, care nu au acte de identitate, precum şi pentru cei puşi sub interdicţie, certificatul de naştere se eliberează părintelui sau reprezentantului legal.
    </p><p>
        Certificatul de căsătorie se poate elibera unuia dintre soţi.
    </p><p>
        Certificatul de deces se eliberează membrilor familiei sau altor persoane îndreptăţite.
    </p>
</div>