
<div id="black">
    <h1>Întocmirea actului de naştere</h1>

    <p>Întocmirea actului de naştere se face de personalul cu atribuţii de stare civilă din cadrul serviciului public comunitar local de evidenţă a persoanelor sau din cadrul primăriei unităţii administrativ-teritoriale în a cărei rază s-a produs evenimentul ori, după caz, de către şeful misiunii diplomatice sau al oficiului consular de carieră.</p>

    <p>
        Declararea naşterii se face în termen de 30 de zile pentru copilul născut viu şi în termen de 3 zile pentru copilul născut mort. Termenele se socotesc de la data naşterii. În cazul în care copilul născut viu a decedat înăuntrul termenului de 30 de zile, declararea naşterii se face în termen de 24 de ore de la data decesului.
    </p>
    <p>
        Au obligaţia de a face declaraţia de naştere oricare dintre părinţi, iar dacă, din diferite motive, nu o pot face, obligaţia declarării revine medicului, persoanelor care au fost de faţă la naştere, asistentului social sau, după caz, persoanei cu atribuţii de asistenţă socială din unitatea sanitară în care a avut loc naşterea sau oricărei persoane care a luat cunoştinţă despre naşterea copilului.
    </p>

    <p>
        Situaţii:
    </p>
   
        1. Înregistrarea naşterii copilului din căsătorie
   
        <ul>
            - Acte necesare:

            <li> certificatul medical constatator al naşterii;</li>
<li> certificatul de căsătorie al părinţilor copilului;</li>
            <li> actul de identitate al mamei şi al declarantului;</li>
        </ul>
  
    Pentru copiii născuţi de la data de 30.06.2016, în lipsa actului de identitate al mamei, întocmirea actului de naştere se face pe baza celorlalte documente şi a documentului întocmit de reprezentantul poliţiei cu ocazia verificărilor efectuate la solicitarea unităţii sanitare în care a avut loc naşterea, cu privire la datele de identificare a mamei, şi a verificărilor în registrele de stare civilă sau în Registrul Naţional de Evidenţă a Persoanelor.

  
    <p>
        2. Înregistrarea naşterii copilului din afara căsătoriei
        <ul>
            - Acte necesare:
           <li> certificatul medical constatator al naşterii</li>
            <li> certificatul de naştere al mamei copilului;</li>
            <li> actul de identitate al mamei şi al declarantului;</li>
        </ul>
    </p>

    Pentru copiii născuţi de la data de 30.06.2016, întocmirea actului de naştere al copilului, în cazul în care naşterea mamei nu este înregistrată, se face pe baza declaraţiei scrise a persoanelor îndreptăţite, conform legii, unui proces-verbal privind identitatea declarată de mamă, semnat de reprezentantul direcţiei generale de asistenţă socială şi protecţia copilului, de reprezentantul poliţiei şi de cel al unităţii sanitare, a certificatului medical constatator al naşterii şi a actului de identitate al declarantului. În acest caz, numele de familie şi prenumele copilului se stabilesc prin dispoziţie emisă în termen de 5 zile de la data solicitării de către primarul unităţii administrativ-teritoriale unde se înregistrează naşterea.

   
    <p>
        3. Recunoaşterea copilului din afara căsătoriei şi încuviinţarea purtării de nume:
    <p>Copilul conceput şi născut în afara căsătoriei poate fi recunoscut de către tatăl său.</p>
       <p> Recunoaşterea poate fi făcută prin declaraţie la serviciul public comunitar local de evidenţă a persoanelor unde a fost/sau este înregistrată naşterea copilului, prin înscris autentic sau prin testament.
       <p> Numele copilului din afara căsătoriei:</p>

        <ul>
            - Copilul din afara căsătoriei ia numele de familie al aceluia dintre părinţi faţă de care filiaţia a fost mai întâi stabilită;
            - În cazul în care filiaţia a fost stabilită ulterior şi faţă de celălalt părinte, copilul, prin acordul părinţilor, poate lua numele de familie al părintelui faţă de care şi-a stabilit filiaţia ulterior sau numele reunite ale acestora;
            - Noul nume de familie al copilului se declară de către părinţi, împreună, la serviciul public comunitar local de evidenţă a persoanelor la care a fost înregistrată naşterea;
            - În lipsa acordului părinţilor instanţa de tutelă hotărăşte şi comunică de îndată hotărârea rămasă definitivă la serviciul public comunitar local de evidenţă a persoanelor unde a fost înregistrată naşterea;
            -În cazul în care copilul şi-a stabilit filiaţia în acelaşi timp faţă de ambii părinţi, aceştia declară împreună numele de familie al copilului la serviciul public comunitar local de evidenţă a persoanelor la care a fost înregistrată naşterea iar în lipsa acordului cu privire la numele de familie instanţa de tutelă hotărăşte şi comunică de îndată hotărârea rămasă definitivă.
        </ul>
            
    <p>

        4. Înregistrarea copilului născut mort
       </p>
        Termen de înregistrare: 3 zile de la data naşterii.
    
    <p>
        5. Înregistrarea copilului născut viu care a decedat în intervalul celor 15 zile
        Termen de înregistrare: 24 de ore de la data decesului.
    </p>
    <p>
        6. Situaţii în care declararea copilului se face după expirarea termenelor prevăzute de lege:
        După împlinirea termenului de 30 de zile de la data naşterii, întocmirea actului de naştere se face la cererea scrisă a declarantului, cu aprobarea primarului unităţii administrativ-teritoriale în a cărei rază s-a produs evenimentul, cu avizul conform al serviciului public comunitar judeţean de evidenţă a persoanelor sau, după caz, al Direcţiei Generale de Evidenţă a Persoanelor a Municipiului Bucureşti.
        Înregistrarea naşterii se realizează în termen de 90 de zile de la data solicitării.
    </p>
   

        Acte necesare:
        <ul>
            <li>cerere pentru înregistrarea naşterii;</li>
            <li>certificatul medical constatator al naşterii;</li>
<li>certificatul de căsătorie al părinţilor copilului;</li>
            <li>actele de identitate ale părinţilor;</li>
            <li>expertiză medico-legală cu privire la data naşterii, în format lună, zi, şi sexul persoanei, dacă nu există certificat medical constatator al naşterii;
       </li> </ul>
    


    @{
        var dir = Server.MapPath("~/Documents/");
        string[] fileEntries = Directory.GetFiles(dir);
        foreach (string fullFileName in fileEntries)
        {
            var file = fullFileName.Split('\\').Last();
            var fileUrl = "https://" + HttpContext.Current.Request.Url.Authority + "/Documents/" + @file;
            <li id="white"><a href=@fileUrl>@file</a></li>
            <br />
        }
    }
</div>