<div id="black">
    <h1>LIVRETUL  DE FAMILIE</h1>


    <p>ACTE NECESARE</p>
    <ul>
        <li> certificat căsătorie, sau după caz certificate de naştere mamă / tată, original şi copie xerox;</li>

        <li> acte identitate soţi sau mamă/tată, după caz, original şi copie xerox;</li>

        <li>certificate de naştere copil/copii, oroginal şi copie xerox;</li>

        <li> sentinţa de desfacere căsătorie, definitivă şi irevocabilă şi copie xerox, dacă este cazul;</li>

       <li>  certificat deces soţ / soţie original şi copie xerox, dacă este cazul;</li>

       <li>  documente care să ateste modificarea relaţiilor de autoritate parentală, plasament familial sau încredinţare, după caz şi copie xerox;</li>

       <li>  procură specială, copie act identitate mandatar şi copie xerox, dacă este cazul</li>
        
    </ul>
    <p>
        Succesiunea se deschide la primăria ultimul domiciliu al defunctului.
    </p>
    <p>
        Declarantul trebuie să cunoască numele, prenumele şi adresa tuturor moştenitorilor, precum şi bunurile care aparţin defunctului (conţinutul masei succesorale).
    </p>
    ACTE NECESARE
    <ul>
        <li> Certificat deces şi copie xerox</li>

        <li> Act identitate declarant (moştenitor direct) şi copie xerox</li>

        <li>Testament şi copie xerox (dacă este cazul)</li>

    </ul>

    În cazul în care titularul nu se poate prezenta
    <ul>
        <li>  Procură specială;</li>
   <li>  Copie act identitate mandatar.</li>
    </ul>
</div>